.oculta {
   display: none;
}

.visible {
   display: block;
}

.carousel-item img {
   object-fit: contain;
   height: 100%;
}

.card-img-top {
   object-fit: cover;
   height: 600px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
   filter: invert(100%);
}

@media (min-width: 576px) {
   .carousel-item img {
      height: 300px;
      /* adjust as needed */
   }
}